*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

.contenedor{
    padding: 60px 0;
    width: 90;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo{
    color:blueviolet;
    font-size: 30px;
    text-align: center;
    margin-bottom: 60px;
}

/* Header */

header{
width: 100%;
height: 600px;
background: #FC5C7D;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, hsla(230, 95%, 70%, 0.603), hsla(348, 96%, 67%, 0.608));  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, hsla(230, 95%, 70%, 0.607), hsla(348, 96%, 67%, 0.607)), url(img/CoverGris.jpg);
/* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
background-size: cover;
background-attachment: fixed;
position: relative;
}

nav{
    text-align: right;
    padding: 30px 50px 0 0;
}

nav > a{
    color: aliceblue;
    font-weight: 300;
    text-decoration: none;
   margin-right: 10px;
}

nav > a:hover{
    text-decoration: underline;
}

header .textos-header{
    display: flex;
    height: 430px;
    width: 100%;
    align-items:center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.textos-header h1{
    font-size: 50px;
    color: #ffffff
}

.textos-header h2{
    font-size: 30px;
    color: #ffffff
}

.wave{
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* Qué vas a lograr con este curso? */
.contenedor-sobre-nosotros{
    display: flex;
    justify-content: space-evenly;
}

.imagen-about-us{
    width: 48%;
}

.sobre-nosotros .contenido-textos{
    width: 48;
}

.contenido-textos h3{
    margin-bottom: 15px;
}

.contenido-textos h3 span{
    background: blueviolet;
    color: #ffffff;
    border-radius:50%;
    display: inline-block;
    text-align: center;
    width: 30px;
    height: 30px;
    padding: 2px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0);
    margin-right: 5px;
}

.contenido-textos p{
    padding: 0px 0px 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Lo que han logrado nuestros estudiantes */

.galeria-macetas{
    background: #654ea3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.galeria-macetas{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-macetas{
    width: 24%;
    margin-bottom: 10px;
}

/* Que dicen nuestros estudiantes del curso */

.cards{
display: flex;
justify-content: space-evenly;
}

.cards .card{
    background: #654ea3;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 8px;
    box-shadow: 0 0 6px 0 rgba(0, 0, 0, 0.6);
    margin: 10px 5px;
}

.cards .card img{
    width: 100px;
    height: 100px;
    object-fit: cover;
    border: 2px solid #ffffff;
    border-radius: 50%;
    display: block;
}

.cards .card > .contenido-textos-card{
    width: 60%;
    color: #ffffff;
}

.cards .card > .contenido-textos-card p{
    font-weight: 300;
    padding-top: 5px;
}


.about-bonus{

background: #654ea3;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #eaafc8, #654ea3);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #eaafc8, #654ea3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
padding: 30px;
}

.servicio-cont{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.servicio-ind{
    width: 28%;
    text-align: center;
}

.servicio-ind img{
    width: 90%;
}

.servicio-ind h3{
    margin: 10px 0;
}

.servicio-ind p{
    font-weight: 300;
    text-align: justify;
}

/* footer */

footer{
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

.contenedor-footer{
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #ffffff;
}

.content-foo{
    text-align: center;
}

